#question-content
  %h3
    = @question.question
  %p
    = simple_format @question.description
  %p
    asked by
    = @question.user.full_name
  = render "votes/vote_buttons", content: @question
  - if @question.user == current_user
    = link_to "Edit question", edit_question_url(@question)
