-# A comment chain. When you click this, you reveal a comment as well as a preview to it's replies
%h4.toggle-comment
  %i.glyphicon.glyphicon-chevron-right
  = comment.user.full_name
.comment(style="padding-left:1em")
  .text
    = simple_format comment.comment
  .forms
    = render "comments/reply_form", comment: comment
    - if comment.user == current_user
      = render "comments/edit_form", comment: comment
  .buttons
    = render "votes/vote_buttons", content: comment
    %button.btn.btn-default.show-new-form Reply
    - if comment.user == current_user
      %button.btn.btn-default.show-edit-form Edit
      = link_to "Delete", comment, method: :delete, class: "btn btn-default", data: { confirm: "Are you sure?" }
  - comment.replies.each do |reply|
    = render "comments/chain", comment: reply
