#new-question-modal.modal{"aria-labelledby" => "new-question-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4#new-question-modal-label.modal-title New Question
      .modal-body
        = form_for Question.new, html: { class: "form-horizontal" } do |f|
          .form-group
            = f.label :question, class: "col-sm-2 control-label"
            .col-sm-10
              = f.text_field :question, class: "form-control"
          .form-group
            = f.label :description, class: "col-sm-2 control-label"
            .col-sm-10
              = f.text_area :description, class: "form-control"
          .form-group
            .col-sm-offset-2.col-sm-10
              = f.submit class: "btn btn-default"
