%span.vote-buttons{:id => "#{content.class.name.downcase}_#{content.id}_vote_buttons"}
  - score = content.score
  - unless has_vote?(content, "upvote")
    = link_to "Upvote | #{score}", content_votes_url(content, vote: { vote_type: "upvote" }), method: :post, class: "btn btn-blue", remote: true
  - else
    = link_to "Upvoted | #{score}", current_vote(content), method: :delete, class: "btn btn-gray", remote: true
  - unless has_vote?(content, "downvote")
    = link_to "Downvote", content_votes_url(content, vote: { vote_type: "downvote" }), method: :post, class: "btn btn-downvote", remote: true
  - else
    = link_to "Downvoted", current_vote(content), method: :delete, class: "btn btn-gray", remote: true
